{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BizMind{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts & Icons -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- AOS -->
    <link rel="stylesheet"
          href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>

<body>

{% include "core/partials/navbar.html" %}

{% block content %}{% endblock %}

{% include "core/partials/footer.html" %}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({ duration: 1200, once: true });
</script>

</body>
</html>
