{% load static %}

<header class="header">
    <nav class="navbar">
        <div class="bm-logo">
            <a href="{% url 'core:home' %}">BizMind</a>
        </div>

        <ul class="links">
            <li><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="{% url 'core:about' %}">About</a></li>
            <li><a href="{% url 'core:stats' %}">Stats</a></li>
            <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>

        <div class="actions">
            <a href="{% url 'accounts:login' %}" class="bm-btn outline">Login</a>
            <a href="{% url 'accounts:signup' %}" class="bm-btn primary">Sign Up</a>
        </div>
    </nav>
</header>
